body{
    background-color: black;
    padding: 0;
    margin: 0;
}

.banner{
    background-color: #FFD869;
    position: absolute;
    top: 0;
    height: 150px;
    width: 100vw;
}

.trending{
    background-color: #A9C2BB;
    position: absolute;
    top: 170px;
    left: 400px;
    height: 25px;
    width: 1100px;
}

.headline{
    background-color: #2BCC9E;
    position: absolute;
    top: 210px;
    left: 600px;
    height: 25px;
    width: 670px;
}

.top_story{
    background-color: #E94FFF;
    position: absolute;
    top: 250px;
    left: 400px;
    height: 150px;
    width: 1100px;
}

.top_content{
    position: absolute;
    top: 430px;
    left: 400px;
    height: 700px;
    width: 800px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 10px;
}

.top_video{
    background-color: #2BCC9E;
    height: 400px;
}

.live_update{
    background-color: #A9C2BB;
    height: 100px;
    margin-right: 50px;
}

.top_article{
    background-color: #E94FFF;
    height: 30px;
    margin-right: 120px;
}

.sidebar{

    position: absolute;
    top: 430px;
    left: 1220px;
    height: 730px;
    width: 280px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;

}

.more_live_updates{
    background-color: #A125B3;
    height: 250px;
    margin-bottom: 10px;
}

.side_videos1{
    background-color: #FFD869;
    height: 90px;
    margin-bottom: 10px;
}

.more_side_stories{
    background-color: #A9C2BB;
    height: 30px;
}

.tier_three_story1{
    position: relative;
    top: 1300px;
    left: 400px;
    height: 400px;
    width: 380px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 10px;
    
}

.tags1{
    background-color: #FFD869;
    height: 30px;
    margin-right: 270px;
}

.side_story1{
    background-color: #A125B3;
    height: 30px;
}

.tier_two_story1{
    position: relative;
    top: 900px;
    left: 800px;
    height: 430px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.main_story_image1{
    background-color: #A9C2BB;
    height: 200px;
    margin-bottom: 10px;
}

.main_story1{
    background-color: #2BCC9E;
    height: 55px;
    margin-bottom: 10px;
}

.tier_three_story2{

    position: relative;
    top: 950px;
    left: 400px;
    height: 400px;
    width: 380px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 10px;
}

.tier_four_story1{

    position: relative;
    top: 550px;
    left: 800px;
    height: 330px;
    width: 350px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 10px;
}

.blank{
    background-color: black;
}

.small_img1{
    background-color: #A9C2BB;
    height: 100px;
}

.descriptor1{
    background-color: #E94FFF;
    height: 50px;
}

.tags2{
    background-color: #FFD869;
    height: 30px;
    margin-right: 70px;
}

.tier_two_story2{
    position: absolute;
    top: 1780px;
    left: 1200px;
    height: 430px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story3{
    position: absolute;
    top: 2350px;
    left: 400px;
    height: 530px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story4{
    position: absolute;
    top: 2350px;
    left: 800px;
    height: 570px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story5{
    position: absolute;
    top: 2720px;
    left: 1200px;
    height: 370px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story6{
    position: absolute;
    top: 2970px;
    left: 400px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story7{
    position: absolute;
    top: 2970px;
    left: 800px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story8{
    position: absolute;
    top: 2970px;
    left: 1200px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story9{
    position: absolute;
    top: 3520px;
    left: 400px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story10{
    position: absolute;
    top: 3520px;
    left: 800px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.main_story_image2{
    height: 200px;
    margin-bottom: 10px;
    background-color: black;
}

.tier_two_story11{
    position: absolute;
    top: 3520px;
    left: 1200px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story12{
    position: absolute;
    top: 4100px;
    left: 400px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story13{
    position: absolute;
    top: 4100px;
    left: 800px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story14{
    position: absolute;
    top: 4100px;
    left: 1200px;
    height: 520px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.big_tag1{
    background-color: #A9C2BB;
    position: absolute;
    top: 4700px;
    left: 400px;
    height: 30px;
    width: 100px;
}

.video_content{

    position: absolute;
    top: 4750px;
    left: 400px;
    height: 670px;
    width: 800px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 10px;
}

.vid_thumbnail{
    background-color: #2BCC9E;
    height: 120px;
}

.vid_text{
    background-color: #A125B3;
    height: 60px;
    margin-right: 30px;
    margin-bottom: 0px;
}

.trending_sidebar_vid{
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 5px;

    top: 4822px;
    left: 1220px;
    height: 400px;
    width: 330px;

}

.trending_vid{
    background-color: #FFD869;
    height: 144px;
}

.trending_vid_text{
    background-color: #E94FFF;
    height: 30px;
    margin-top: 5px;
}

.side_videos2{
    background-color: #A9C2BB;
    height: 60px;
    padding-bottom: 20px;
}

.big_tag2{
    background-color: #A9C2BB;
    position: absolute;
    top: 5480px;
    left: 400px;
    height: 30px;
    width: 100px;
}

.advertisements1{

    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    grid-gap: 10px;

    height: 200px;
    width: 1150px;

    top: 5530px;
    left: 400px;
}

.ad_img1{
    background-color: #FFD869;
    height: 150px;
}

.ad_text1{
    background-color: #2BCC9E;
    height: 30px;
}

.big_tag3{
    background-color: #A9C2BB;
    position: absolute;
    top: 5780px;
    left: 400px;
    height: 30px;
    width: 100px;
}

.tier_two_story15{
    position: absolute;
    top: 5830px;
    left: 400px;
    height: 480px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.side_vid_story1{
    background-color: #E94FFF;
    height: 80px;
    margin-bottom: 5px;
}

.tier_two_story16{
    position: absolute;
    top: 5830px;
    left: 800px;
    height: 480px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.big_tag4{
    background-color: #A9C2BB;
    position: absolute;
    top: 6390px;
    left: 400px;
    height: 30px;
    width: 100px;
}

.advertisements2{
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    grid-gap: 10px;

    height: 200px;
    width: 1150px;

    top: 6430px;
    left: 400px;     
}

.big_tag5{
    background-color: #A9C2BB;
    position: absolute;
    top: 6650px;
    left: 400px;
    height: 30px;
    width: 100px;
}

.tier_two_story17{
    position: absolute;
    top: 6690px;
    left: 400px;
    height: 480px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story18{
    position: absolute;
    top: 6690px;
    left: 800px;
    height: 480px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story19{
    position: absolute;
    top: 6690px;
    left: 1200px;
    height: 480px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story20{
    position: absolute;
    top: 7190px;
    left: 400px;
    height: 480px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.tier_two_story21{
    position: absolute;
    top: 7190px;
    left: 800px;
    height: 480px;
    width: 360px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.big_tag6{
    background-color: #A9C2BB;
    position: absolute;
    top: 7750px;
    left: 400px;
    height: 30px;
    width: 100px;
}

.travel_stuff{

    position: absolute;
    top: 7790px;
    left: 400px;
    height: 500px;
    width: 1150px;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
}

.big_photo{
    background-color: #A9C2BB;
}

.big_facts{
    background-color: black;
}

.travel_facts{
    background-color: #FFD869;
    height: 40px;
    margin: 10px;
}

.bottom_banner{
    position: absolute;
    background-color: #A125B3;
    top: 8350px;
    height: 350px;
    width: 100vw;
}